## .properties files ##
src/main/resources/application.yml

## .properties files ##
src/main/resources/application-local.yml

## .properties files ##
src/main/resources/application-dev.yml

## .properties files ##
src/main/resources/application-test.yml
